.flex{
  display: flex;
}

.item-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.border{
    border: 2px solid rgb(250, 250, 250);
    margin: 3px;
}
.p1{
  padding: 10px;

}
.margin{
  margin: 10px;
}

.hover:hover{
  text-decoration: underline;
  cursor: pointer;

}
.bg{
 background-color:  #202020;
}
.leftright{
  margin: 0 7px;
}



  ::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555;     
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888;     
  }
  
  

   /* ::-webkit-scrollbar-width: thin; */
  
  .invert{
    filter: invert(1);
  }

 